<div class="fullWidth3-wrapper" id="content_wrapper">
    <div class="content">
        <div class="header-wrapper overlay header-md">
            <header class="container-fluid">
                <div class="row">
                    <div class="col">
                        <h1>{{title}}</h1>
                    </div>
                </div>
            </header>
        </div>
        <div class="content-body">
            <div class="card card-datatable">
                <ng-content></ng-content>
            </div>
        </div>
    </div>
</div>
