<div class="sidebar-inner sidebar-overlay">
    <mat-tab-group class="sidebar-right-tab-group">
        <mat-tab label="Atividade">
            <div class="sidebar-timeline">
                <div class="time-item">
                    <div class="item-info">
                        <small class="text-muted">15 minutos atrás</small>
                        <p><a class="accent" href="#">Charles Queiroz</a> realizou login na aplicação</p>
                    </div>
                </div>
                <div class="time-item">
                    <div class="item-info">
                        <small class="text-muted">30 minutos atrás</small>
                        <p><a class="accent" href="javascript:void(0)">Charles Queiroz</a> cadastrou um veículo.</p>
                        <p><em>"Carro de placa XXX-9999"</em></p>
                    </div>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>
