<div [hidden] = "visualizacao" class="main-container">
  <div *ngIf="imagens.length > 0" class="cardList">
    <mat-card *ngFor="let img of imagens" class="imagens">
      <mat-card-header class="card-header" style="margin-bottom: 5px;height: 60px; max-height: 60px;">
        <div>
          <button mat-mini-fab style="left: 5px;position: absolute;top: 2px;cursor: default; background-color : rgb(40,48,63);">
            .{{img.tipo | uppercase}}
          </button>
        </div>
        <mat-card-title class= "header-title" style="padding-left: 20px;top:1px;">{{img.nome}}</mat-card-title>
        <!--mat-card-subtitle>{{img.tipo}}</mat-card-subtitle-->
      </mat-card-header>
      <div class = "image-wrapper">
      <img class="card-image" mat-card-image 
        src="data:image/{{img.tipo}};base64,{{img.conteudoBase64}}">
        <div class= "middle">
          <button mat-mini-fab style="background-color : rgb(40,48,63);" matTooltip="Clique para ver" 
          (click) = "verImagem(img)">
            <mat-icon>remove_red_eye</mat-icon>
          </button>
        </div>
      </div>
      <mat-card-content>
        <h5 style="font-size: 18px;padding-bottom: 20px;bottom: 20px;">Dimensões: {{img.largura}}x{{img.altura}}</h5>
      </mat-card-content>
      <mat-card-actions class="card-actions">
        <button class="btn"
                style="margin-bottom: 8px; margin-left: 10px;" 
                mat-raised-button color="primary" 
                (click)="salvarImagem(img)"
                matTooltip="Salvar esta foto">
          <mat-icon>get_app</mat-icon>SALVAR
        </button>
        <button class="shake-bt"
                style="margin-bottom: 8px; margin-left: 5px;" 
                mat-mini-fab color="primary" 
                (click)="editarImagem(img)"
                matTooltip="Editar esta foto">
          <mat-icon>edit</mat-icon>
        </button>
        <button class="btn-remove"
                mat-stroked-button color="primary"
                style="margin-bottom: 8px;margin-left: 5px;"
                (click)="excluirImagem(img)"
                matTooltip="Deletar esta foto">
          <mat-icon>delete</mat-icon>APAGAR
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div *ngIf = "showScroll" id="voltarTopoBT">
    <button  mat-mini-fab color="primary" class="fixed" matTooltip="Voltar para o topo" (click)="scrollToTop()">
      <mat-icon>arrow_upward</mat-icon>
    </button>
  </div>
  <div id="limparHistoricoBT">
    <button *ngIf="imagens.length > 0" mat-fab color="primary" class="fixed" matTooltip="Limpar histórico" (click)="limparHistorico()">
      <mat-icon matBadge={{imagens.length}} matBadgePosition="above before" matBadgeColor="primary">clear</mat-icon>
    </button>
  </div>
</div>

<div *ngIf = "imgVisualizar != undefined" id = "modal-dialog"  class="modal fade" bsModal #imageModal="bs-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" 
      aria-hidden="true" [style.background-color] = "backgroundColor">
  <div class="modal-content" >
    <div id = "dialog-body" class="modal-body">
      <img id = "full" src="data:image/{{imgVisualizar?.tipo}};base64,{{imgVisualizar?.conteudoBase64}}" class="img-full">
    </div>
  </div>
</div>
