.main-container{
    width: 100%;
    height: 100%;
    background: url('../../../assets/img/bg3.jpg') no-repeat center;
    background-color: rgb(36,36,41);
    background-size: 100% 100%;
    background-position: top center;
    min-height:100vh;
    text-align: center;
    overflow: hidden;
}

.filtros-sidenav{
    background-color: #232936;
    position: relative;
}

.filtros-bar{
    overflow-y: auto;
    background-color: rgba(30, 25, 11, 0.3);
    width: 96%;
    object-fit: contain;
    margin-left: 6px;
    margin-right: 2px;
    margin-top: 63px;
    border-radius: 10px;
    bottom: 0px;
    top: 0px;
    padding-bottom: 10px;
    border-color: #3c7fca;
    //background: url('../../../assets/img/glass.jpg') no-repeat center;
    position: absolute;
}
.filtros-bar::-webkit-scrollbar {
    width: 0.4em;
}
 
.filtros-bar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px slategrey;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
.filtros-bar::-webkit-scrollbar-thumb {
  background-color: #3c7fca;
  outline: 1px solid slategrey;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

 .panel{
    overflow-y: hidden;
    //background-color: rgba(30, 25, 11, 0.3);
    background: none;
    width: 100%;
    border-radius: 10px;
    border-color: #3c7fca;
    //background: url('../../../assets/img/filtros-bar2.jpg') no-repeat center;
    //position: absolute;
}

.panel-header > .mat-expansion-indicator:after {
    color: lightgrey !important;
  }

.mat-progress-spinner circle, .mat-spinner circle {
    stroke:#28303F;
  }

.filter-icon{
    width : 16px;
    height : 16px;
    position: relative;
    top: 2px;
    margin-right: 5px;
    opacity: 0.7;
}

.filter-icon.edge{
    width: 20px;
    height: 20px;
    top: 5px
}

.small-slider.mat-slider-horizontal {
    height: 48px;
    min-width: 20px !important;
}

.small-slider{
    width: 20%;
}

.voltar-icon{
    left: 2px;
    top: 2px;
    margin: auto;
    position:absolute;
    z-index: 10;
    cursor: pointer;
    width: 30px;
    height: 30px;
    opacity: 0.5;
}

.voltar-icon:hover{
    opacity: 1;
}

.acoes-container{
    background-color: #28303F;
    margin-bottom: 0;
    display: inline-block !important;
}

.outer{
    display:inline-block!important
}

.inner{
    //display: inline-block;
}

.action-bt{
    //opacity: 0.5;
    margin-top: 15px;
    border-radius: 10px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    height: 17px;

}

.action-bt:hover{
    /*background: transparent;
    outline: 0;
    //opacity: 1; 
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 #3c7fca;
    border-radius:10px;*/
    transform: scale(1.25);
}

.image-container{ 
    display: flex;
    overflow: hidden;
    //overflow: auto;
    position: relative;
    object-fit: contain;
    flex-wrap: wrap;
    height: auto;
    width: auto;
    z-index: 5;
}

.img-wrapper{
    display: flex;
    z-index: -5;
    position: absolute;
}

.image{
    display: flex;
    object-fit: cover;
    position: absolute;
    z-index: 2;
    //cursor: move;
}
  
.mat-slider-horizontal {
    width: 250px;
}

.limiar-input {
    width: 80%;
    .mat-slider-track-fill{
        background-image: linear-gradient(to right, black, white);
    }
}

.slider-vermelho{
    width: 80%;
    .mat-slider-track-fill{
        background-image: linear-gradient(to right, black, red);
    }
    .mat-slider-thumb{
        background-color: red !important;
    }
}

.slider-verde{
    width: 80%;
    .mat-slider-track-fill{
        background-image: linear-gradient(to right, black, green);
    } 
    
    .mat-slider-thumb{
        background-color: green;
    }
}

.slider-azul{
    width: 80%;
    .mat-slider-track-fill{
        background-image: linear-gradient(to right, black, blue);
    }
    
    .mat-slider-thumb{
        background-color: blue;
    }
}

.btn{
    text-shadow: none;
    -moz-text-shadow: none;
    -ms-text-shadow: none;
    -webkit-text-shadow: none;
    -webkit-font-smoothing: antialiased;
    font-size: 10px;
    cursor: pointer;
    display: inline-block;
    border: 1px solid #3c7fca;
    background: #3c7fca;
    margin-right: 10px;
    -webkit-transition: background .3s ease,color .3s ease,border-color .3s ease;
    transition: background .3s ease,color .3s ease,border-color .3s ease;
    outline: 0;
}

.btn:hover {
    background: transparent;
    color: #3c7fca;
    border: 1px solid #3c7fca;
}

.example-container {
    width: 500px;
    height: 300px;
    border: 1px solid rgba(0, 0, 0, 0.5);
  }

.filter-label, .filter-category-label{
    align-items: center;
    text-align: left;
    font-synthesis: weight;
    font-size: 15px;
    color: lightgrey;
    margin-left: 2px;
    vertical-align: middle;
    width: 100%;
    //height: 100%;
    //border-radius: 10px;
    font-family: "Rajdhani", sans-serif;
    text-shadow: none;
    -moz-text-shadow: none;
    -ms-text-shadow: none;
    -webkit-text-shadow: none;
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
}

.filter-label{
    margin-top: 0px;
    //padding: 0 0 0 0;
}

.filter-label:hover {
    font-weight: bold;
    background-color: rgba(100, 90, 95, 0.3);
}

.label-info{
    align-items: left;
    align-self: left;
    text-align: left;
    font-synthesis: weight;
    font-size: 30px;
    font-size: 16px;
    color: white;
    margin-left: 2px;
    left: 0;
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.label-slider{
    font-size: 14px;opacity: 0.7;color: lightgray;margin-left: 5px;margin-right: 5px;
}

.filter-label-title{
    align-items: center;
    text-align: left;
    font-synthesis: weight;
    font-family: "Rajdhani", sans-serif;
    font-size: 30px;
    font-size: 16px;
    color: white;
    margin-left: 2px;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    margin-bottom: 0px;
}

.referencia-select .mat-select-value {
    color: #3c7fca !important;
    font-size: 12px;
}

.radio-group{
    left: 0;
    position: absolute;
    margin-left: 5px;
}

.cropper{
    padding: 0 0 0 0 !important;
}

.form-field.mat-form-field-appearance-legacy .mat-form-field-label {
    color: rgba(211,211,211,0.54) !important;
}

.form-field.mat-form-field.mat-focused .mat-form-field-label {
    color: #1976d2 !important;
}
.option-text .mat-option-text{
    font-size: 12px !important;
}

.negativo-sidenav{
    background-color: rgba(30, 25, 11, 0.3);
    width: 100%;
    height: 100px;
    border-radius: 10px;
    position: relative;
}

.limiar-sidenav{
    background-color: rgba(30, 25, 11, 0.3);
    width: 100%;
    height: 150px;
    border-radius: 10px;
    position: relative;
}

.ajusteRGB-sidenav{
    background-color: rgba(30, 25, 11, 0.3);
    width: 100%;
    height: 350px;
    border-radius: 10px;
    position: relative;
}

.dilatacao-sidenav{
    background-color: rgba(30, 25, 11, 0.3);
    width: 100%;
    height: 200px;
    border-radius: 10px;
    position: relative;
}

.filtro-param-sidenav{
    background-color: #232936;
    align-self: center;
    position: relative;
    width: 80%;
    border: 0;
}

.div-align{
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: flex-start;
    padding-top: 50px;
}

.desativado{
    cursor: not-allowed;
}

.ativado{
    cursor: pointer;
}

.escala-slider:hover {
    .mat-slider-thumb:hover{
        transform: scale(1.12);
    }
}

.two-col {
    position: absolute;
    //margin-top: 50px;
    overflow: hidden;/* Makes this div contain its floats */
}

.two-col .col1,
.two-col .col2 {
    width: 49%;
}

.two-col .col1 {
    float: left;
}

.two-col .col2 {
    float: right;
}

.two-col label {
    display: block;
}

.two-col .mat-form-field-appearance-legacy .mat-form-field-label {
    //color: #3c7fca;
    color: lightgray;
    text-align: center !important;
}

.two-col .mat-form-field.mat-focused .mat-form-field-label{
    color: #3c7fca !important;
}

.two-col .mat-drawer, .mat-input-element {
    text-align: center !important;
    //color: #3c7fca !important;
    color: lightgray !important;
}

.two-col .mat-form-field-appearance-legacy .mat-form-field-underline {
    //color: #3c7fca !important;
    color: lightgray !important;
}

.two-col .mat-form-field-appearance-legacy .mat-form-field-underline {
    //background-color: #3c7fca !important;
    background-color: lightgray !important;
}

.red-check.mat-checkbox-checked.mat-accent .mat-checkbox-background {
    background-color: #FF0000 !important;
}

.green-check.mat-checkbox-checked.mat-accent .mat-checkbox-background {
    background-color: #00FF00 !important;
}

.blue-check.mat-checkbox-checked.mat-accent .mat-checkbox-background {
    background-color: #0000FF !important;
}

.normal{
    height: 200px;
}

.classe1{
    height: 250px;
}

.classe2{
    height: 300px;
}

.classe3{
    height: 350px;
}

.ng-slider.ng5-slider{
    margin-left: 5px !important;
    width: 80%;
}

.ng-slider.ng5-slider .ng5-slider-pointer {
    cursor: pointer;
    width: 13px !important;
    height: 13px !important;
    top: -5px !important;
    //background-color: #0db9f0;
    z-index: 3;
    border-radius: 16px;
}

.ng-slider.ng5-slider .ng5-slider-pointer:after {
    content: '';
    width: 8px;
    height: 8px;
    position: absolute;
    top: 3px;
    left: 2px;
    border-radius: 4px;
    background: #fff;
}

.ng-slider.ng5-slider .ng5-slider-pointer.ng5-slider-active:after {
    background: #28303F;
}

.ng-slider.red.ng5-slider .ng5-slider-selection {
    z-index: 2;
    background: #FF1E1E !important;
    border-radius: 2px;
}

.ng-slider.red.ng5-slider .ng5-slider-pointer {
    background: #EE0B0B !important;
}

.ng-slider.green.ng5-slider .ng5-slider-selection {
    z-index: 2;
    background: #1EFF1E !important;
    border-radius: 2px;
}

.ng-slider.green.ng5-slider .ng5-slider-pointer {
    background: #0BEE0B !important;
}

.ng-slider.blue.ng5-slider .ng5-slider-selection {
    z-index: 2;
    background: #1E1EFF !important;
    border-radius: 2px;
}

.ng-slider.blue.ng5-slider .ng5-slider-pointer {
    background: #0B0BEE !important;
}

.lds-grid {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
  }
  .lds-grid div {
    position: absolute;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #cef;
    animation: lds-grid 1.2s linear infinite;
  }
  .lds-grid div:nth-child(1) {
    top: 6px;
    left: 6px;
    animation-delay: 0s;
  }
  .lds-grid div:nth-child(2) {
    top: 6px;
    left: 26px;
    animation-delay: -0.4s;
  }
  .lds-grid div:nth-child(3) {
    top: 6px;
    left: 45px;
    animation-delay: -0.8s;
  }
  .lds-grid div:nth-child(4) {
    top: 26px;
    left: 6px;
    animation-delay: -0.4s;
  }
  .lds-grid div:nth-child(5) {
    top: 26px;
    left: 26px;
    animation-delay: -0.8s;
  }
  .lds-grid div:nth-child(6) {
    top: 26px;
    left: 45px;
    animation-delay: -1.2s;
  }
  .lds-grid div:nth-child(7) {
    top: 45px;
    left: 6px;
    animation-delay: -0.8s;
  }
  .lds-grid div:nth-child(8) {
    top: 45px;
    left: 26px;
    animation-delay: -1.2s;
  }
  .lds-grid div:nth-child(9) {
    top: 45px;
    left: 45px;
    animation-delay: -1.6s;
  }
  @keyframes lds-grid {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
  }
  

