.main-container{
    width: 100%;
    height: 100%;
    background: url('../../../assets/img/bg3.jpg') no-repeat center;
    background-color: rgb(36,36,41);
    background-size: 100% 100%;
    background-position: top center;
    min-height:100vh;
    text-align: center;
    overflow: hidden;
}

.filtros-sidenav{
    background-color: #232936;
}

.filtros-bar{
    overflow-y: auto;
    background-color: rgba(30, 25, 11, 0.3);
    height: 100%;
    width: 96%;
    margin-left: 6px;
    margin-right: 2px;
    margin-top: 0px;
    border-radius: 10px;
    border-color: #3c7fca;
}

.filter-icon{
    width : 16px;
    height : 16px;
    position: relative;
    top: 2px;
    margin-right: 5px;
}

.voltar-icon{
    left: 2px;
    top: 2px;
    margin: auto;
    position:absolute;
    z-index: 10;
    cursor: pointer;
    width: 30px;
    height: 30px;
}

.acoes-container{
    background-color: #28303F;
    margin-bottom: 0;
}

.image-container{
    overflow-y: auto;
}

.image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    box-sizing: content-box;
    overflow-y: auto;
}

.example-margin {
    margin: 10px;
}
  
.mat-slider-horizontal {
    width: 250px;
}

.limiar-input{
    margin-top: 50px;
    width: 80%;
    margin-bottom: 0px;
}

.valorR-input{
    margin-top: 50px;
    width: 80%;
    margin-bottom: 0px;
    background-color: red !important;
}

#valorR-input .mat-thumb:after, #red-slider .mat-track{
    background-color: greenyellow !important;
    border-color: greenyellow !important;
}

.btn{
    text-shadow: none;
    -moz-text-shadow: none;
    -ms-text-shadow: none;
    -webkit-text-shadow: none;
    -webkit-font-smoothing: antialiased;
    letter-spacing: 1px;
    font-size: 8px;
    //border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    border: 1px solid #3c7fca;
    background: #3c7fca;
    margin-right: 10px;
    -webkit-transition: background .3s ease,color .3s ease,border-color .3s ease;
    transition: background .3s ease,color .3s ease,border-color .3s ease;
    outline: 0;
}

.btn:hover {
    background: transparent;
    color: #3c7fca;
}

.example-container {
    width: 500px;
    height: 300px;
    border: 1px solid rgba(0, 0, 0, 0.5);
  }

.filter-label{
    align-items: center;
    text-align: left;
    font-synthesis: weight;
    font-size: 30px;
    font-size: 16px;
    color: white;
    margin-left: 2px;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    cursor: pointer;
}

.label-info{
    align-items: left;
    align-self: left;
    text-align: left;
    font-synthesis: weight;
    font-size: 30px;
    font-size: 16px;
    color: white;
    margin-left: 2px;
    left: 0;
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.filter-label-title{
    align-items: center;
    text-align: left;
    font-synthesis: weight;
    font-size: 30px;
    font-size: 16px;
    color: white;
    margin-left: 2px;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    margin-bottom: 0px;
}

.filter-label:hover {
    font-weight: bold;
    background-color: rgba(100, 90, 95, 0.3);;
  }

.negativo-sidenav{
    background-color: rgba(30, 25, 11, 0.3);
    width: 100%;
    height: 100px;
    border-radius: 10px;
    position: relative;
}

.limiar-sidenav{
    background-color: rgba(30, 25, 11, 0.3);
    width: 100%;
    height: 150px;
    border-radius: 10px;
    position: relative;
}

.ajusteRGB-sidenav{
    background-color: rgba(30, 25, 11, 0.3);
    width: 100%;
    height: 450px;
    border-radius: 10px;
    position: relative;
}

.filtro-param-sidenav{
    background-color: #232936;
    align-self: center;
    width: 80%;
    border: 0;
}