<div class="main-container"
     fxLayout
     fxLayout.xs="column"
     fxLayoutAlign="center"
     fxLayoutGap="2px"
     fxLayoutGap.xs="0">

    <div class = "filtros-sidenav" fxLayout="column" fxFlex = 20%>
        <h5 style="align-items: left;text-align: left;font-synthesis: weight; font-size: 30px; font-size: 16px; color: lightgray;margin-left: 15px;margin-bottom: 18px;margin-top: 20px;">EDITAR</h5>
        <mat-accordion *ngIf = "menu" class="filtros-bar" [@slideInOut]>
            <mat-expansion-panel class="panel">
                <mat-expansion-panel-header class = "panel-header">
                    <mat-panel-title>
                        <img src="../../../assets/icons/filtros.png" class="filter-icon" style="top: 30px;">
                        <h5 class="filter-category-label">Filtros</h5>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <ng-template matExpansionPanelContent>
                    <mat-list role = "list" *ngIf = "menu" style="width: 100%;max-width: 100%;">
                        <mat-list-item style="margin-top: 0px;width: 100%;max-width: 100%;" (click)="toggleSidenav('escalaCinza')" role="listitem">
                            <h5 class="filter-label">
                                <img src="../../../assets/icons/gray_scale.png" class="filter-icon">
                                Escala de cinza
                            </h5>
                        </mat-list-item>
                        <mat-list-item style="margin-top: 0px;width: 100%;max-width: 100%;" (click)="toggleSidenav('negativo')" role="listitem">
                            <h5 class="filter-label">
                                <img src="../../../assets/icons/negativo.svg" class="filter-icon">
                                Negativo
                            </h5>
                        </mat-list-item>
                        <mat-list-item style="margin-top: 0px;width: 100%;max-width: 100%;" (click)="toggleSidenav('limiar')" role="listitem">
                            <h5 class="filter-label">
                                <img src="../../../assets/icons/limiar.png" class="filter-icon">
                                Limiar
                            </h5>
                        </mat-list-item>
                        <mat-list-item style="margin-top: 0px;width: 100%;max-width: 100%;" (click)="toggleSidenav('dilatar')" role="listitem">
                            <h5 class="filter-label">
                                <img src="../../../assets/icons/maximo.png" class="filter-icon">
                                Dilatação
                            </h5>
                        </mat-list-item>
                        <mat-list-item style="margin-top: 0px;width: 100%;max-width: 100%;" (click)="toggleSidenav('erodir')" role="listitem">
                            <h5 class="filter-label">
                                <img src="../../../assets/icons/minimo.png" class="filter-icon">
                                Erosão
                            </h5>
                        </mat-list-item>
                        <mat-list-item style="margin-top: 0px;width: 100%;max-width: 100%;" (click)="toggleSidenav('extrairCanal')" role="listitem">
                            <h5 class="filter-label">
                                <img src="../../../assets/icons/extrair_canal.png" class="filter-icon">
                                Extrair canal
                            </h5>
                        </mat-list-item>
                        <mat-list-item style="margin-top: 0px;width: 100%;max-width: 100%;" (click)="toggleSidenav('trocarCanais')" role="listitem">
                            <h5 class="filter-label">
                                <img src="../../../assets/icons/swap.png" class="filter-icon">
                                Trocar canais RGB
                            </h5>
                        </mat-list-item>
                        <mat-list-item style="margin-top: 0px;width: 100%;max-width: 100%;" (click)="toggleSidenav('pixelate')" role="listitem">
                            <h5 class="filter-label">
                                <img src="../../../assets/icons/pixelate.svg" class="filter-icon">
                                Pixelizar
                            </h5>
                        </mat-list-item>
                    </mat-list>
                </ng-template>
            </mat-expansion-panel>

            <mat-expansion-panel class="panel">
                <mat-expansion-panel-header class="panel-header">
                    <mat-panel-title>
                        <img src="../../../assets/icons/ajuste.svg" class="filter-icon" style="top: 30px;">
                        <h5 class="filter-category-label">Ajuste</h5>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <ng-template matExpansionPanelContent>
                    <mat-list role = "list" *ngIf = "menu" style="width: 100%;max-width: 100%;">
                        <mat-list-item style="margin-top: 0px;width: 100%;max-width: 100%;" (click)="toggleSidenav('contraste')" role="listitem">
                            <h5 class="filter-label">
                                <img src="../../../assets/icons/contraste.svg" class="filter-icon">
                                Contraste
                            </h5>
                        </mat-list-item>
                        <mat-list-item style="margin-top: 0px;width: 100%;max-width: 100%;" (click)="toggleSidenav('brilho')" role="listitem">
                            <h5 class="filter-label">
                                <img src="../../../assets/icons/brilho.svg" class="filter-icon">
                                Nível de brilho
                            </h5>
                        </mat-list-item>
                        <mat-list-item style="margin-top: 0px;width: 100%;max-width: 100%;" (click)="toggleSidenav('ajusteRGB')" role="listitem">
                            <h5 class="filter-label">
                                <img src="../../../assets/icons/colors.svg" class="filter-icon">
                                Ajuste RGB
                            </h5>
                        </mat-list-item>
                        <mat-list-item style="margin-top: 0px;width: 100%;max-width: 100%;" (click)="toggleSidenav('nitidez')" role="listitem">
                            <h5 class="filter-label">
                                <img src="../../../assets/icons/nitidez.svg" class="filter-icon">
                                Nitidez
                            </h5>
                        </mat-list-item>
                        <mat-list-item style="margin-top: 0px;width: 100%;max-width: 100%;" (click)="toggleSidenav('mediana')" role="listitem">
                            <h5 class="filter-label">
                                <img src="../../../assets/icons/mediana.png" class="filter-icon">
                                Redução de ruído(Mediana)
                            </h5>
                        </mat-list-item>
                        <mat-list-item style="margin-top: 0px;width: 100%;max-width: 100%;" (click)="toggleSidenav('blur')" role="listitem">
                            <h5 class="filter-label">
                                <img src="../../../assets/icons/blur.svg" class="filter-icon">
                                Blur
                            </h5>
                        </mat-list-item>
                        <mat-list-item style="margin-top: 0px;width: 100%;max-width: 100%;" (click)="toggleSidenav('eqHist')" role="listitem">
                            <h5 class="filter-label">
                                <img src="../../../assets/icons/eqHist2.png" class="filter-icon">
                                Equalizar histograma
                            </h5>
                        </mat-list-item>
                        <mat-list-item style="margin-top: 0px;width: 100%;max-width: 100%;" (click)="toggleSidenav('eqCanal')" role="listitem">
                            <h5 class="filter-label">
                                <img src="../../../assets/icons/eqCanal.svg" class="filter-icon">
                                Equalização de canais
                            </h5>
                        </mat-list-item>
                    </mat-list>
                </ng-template>
            </mat-expansion-panel>

            <mat-expansion-panel class="panel">
                <mat-expansion-panel-header class="panel-header">
                    <mat-panel-title>
                        <img src="../../../assets/icons/transformar.png" class="filter-icon" style="top: 30px;">
                        <h5 class="filter-category-label">Transformar</h5>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <ng-template matExpansionPanelContent>
                    <mat-list role="list" *ngIf="menu" style="width: 100%;max-width: 100%;">
                        <mat-list-item style="margin-top: 0px;width: 100%;max-width: 100%;" (click)="toggleSidenav('resize')" role="listitem">
                            <h5 class="filter-label">
                                <img src="../../../assets/icons/resize.png" class="filter-icon">
                                Redimensionar
                            </h5>
                        </mat-list-item>

                        <mat-list-item style="margin-top: 0px;width: 100%;max-width: 100%;" (click)="toggleSidenav('espelhoH')" role="listitem">
                            <h5 class="filter-label">
                                <img src="../../../assets/icons/espelho_horizontal.svg" class="filter-icon">
                                Espelho horizontal
                            </h5>
                        </mat-list-item>
                
                        <mat-list-item style="margin-top: 0px;width: 100%;max-width: 100%;" (click)="toggleSidenav('espelhoV')" role="listitem">
                            <h5 class="filter-label">
                                <img src="../../../assets/icons/espelho_vertical.svg" class="filter-icon">
                                Espelho vertical
                            </h5>
                        </mat-list-item>

                        <mat-list-item style="margin-top: 0px;width: 100%;max-width: 100%;" (click)="toggleSidenav('girarH')" role="listitem">
                            <h5 class="filter-label">
                                <img src="../../../assets/icons/rotacionar_horario.svg" class="filter-icon">
                                Girar horário
                            </h5>
                        </mat-list-item>

                        <mat-list-item style="margin-top: 0px;width: 100%;max-width: 100%;" (click)="toggleSidenav('girarAH')" role="listitem">
                            <h5 class="filter-label">
                                <img src="../../../assets/icons/rotacionar_antihorario.svg" class="filter-icon">
                                Girar anti-horário
                            </h5>
                        </mat-list-item>

                        <mat-list-item style="margin-top: 0px;width: 100%;max-width: 100%;" (click)="toggleSidenav('crop')" role="listitem">
                            <h5 class="filter-label">
                                <img src="../../../assets/icons/crop.svg" class="filter-icon">
                                Cortar
                            </h5>
                        </mat-list-item>
                    </mat-list>
                </ng-template>
            </mat-expansion-panel>

            <mat-expansion-panel class="panel">
                <mat-expansion-panel-header class="panel-header">
                    <mat-panel-title>
                        <img src="../../../assets/icons/edges.svg" class="filter-icon" style="top: 30px;">
                        <h5 class="filter-category-label">Bordas</h5>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <ng-template matExpansionPanelContent>
                    <mat-list role="list" *ngIf="menu" style="width: 100%;max-width: 100%;">
                        <mat-list-item style="margin-top: 0px;width: 100%;max-width: 100%;" (click)="toggleSidenav('prewitt')" role="listitem">
                            <h5 class="filter-label">
                                <img src="../../../assets/icons/P.png" class="filter-icon edge">
                                Prewitt
                            </h5>
                        </mat-list-item>
                        <mat-list-item style="margin-top: 0px;width: 100%;max-width: 100%;" (click)="toggleSidenav('roberts')" role="listitem">
                            <h5 class="filter-label">
                                <img src="../../../assets/icons/R.png" class="filter-icon edge">
                                Roberts Cross
                            </h5>
                        </mat-list-item>
                        <mat-list-item style="margin-top: 0px;width: 100%;max-width: 100%;" (click)="toggleSidenav('sobel')" role="listitem">
                            <h5 class="filter-label">
                                <img src="../../../assets/icons/S.png" class="filter-icon edge">
                                Sobel
                            </h5>
                        </mat-list-item>
                    </mat-list>
                </ng-template>
            </mat-expansion-panel>
            
            <div style="padding-top: 10px;">
                <button (click) = "mock()" mat-raised-button color = "primary">
                    <img src="../../../assets/icons/bug.svg" class="filter-icon" style="top: 0px;">
                    MOCK!!
                </button>
            </div>
        </mat-accordion>

        <negativo-form *ngIf = "sidenavs.get('negativo')"
            [imagem] = "imagem"
            (voltar) = "toggleSidenav($event)"
            (onLoading) = "carregando = $event"
            (filtroAplicado) = "filtroAplicado($event)">
        </negativo-form>

        <escala-cinza-form *ngIf = "sidenavs.get('escalaCinza')"
            [imagem] = "imagem"
            (voltar) = "toggleSidenav($event)"
            (onLoading) = "carregando = $event"
            (filtroAplicado) = "filtroAplicado($event)">
        </escala-cinza-form>

        <limiar-form *ngIf = "sidenavs.get('limiar')"
            [imagem] = "imagem"
            (voltar) = "toggleSidenav($event)"
            (onLoading) = "carregando = $event"
            (filtroAplicado) = "filtroAplicado($event)">   
        </limiar-form>

        <dilatar-form *ngIf = "sidenavs.get('dilatar')"
            [imagem] = "imagem"
            (voltar) = "toggleSidenav($event)"
            (onLoading) = "carregando = $event"
            (filtroAplicado) = "filtroAplicado($event)">
        </dilatar-form>

        <erodir-form *ngIf = "sidenavs.get('erodir')"
            [imagem] = "imagem"
            (voltar) = "toggleSidenav($event)"
            (onLoading) = "carregando = $event"
            (filtroAplicado) = "filtroAplicado($event)">
        </erodir-form>

        <extrair-canal-form *ngIf = "sidenavs.get('extrairCanal')"
            [imagem] = "imagem"
            (voltar) = "toggleSidenav($event)"
            (onLoading) = "carregando = $event"
            (filtroAplicado) = "filtroAplicado($event)">
        </extrair-canal-form>

        <trocar-canais-form *ngIf = "sidenavs.get('trocarCanais')"
            [imagem] = "imagem"
            (voltar) = "toggleSidenav($event)"
            (onLoading) = "carregando = $event"
            (filtroAplicado) = "filtroAplicado($event)">
        </trocar-canais-form>

        <pixelizar-form *ngIf = "sidenavs.get('pixelate')"
            [imagem] = "imagem"
            (voltar) = "toggleSidenav($event)"
            (onLoading) = "carregando = $event"
            (filtroAplicado) = "filtroAplicado($event)">
        </pixelizar-form>

        <contraste-form *ngIf = "sidenavs.get('contraste')"
            [imagem] = "imagem"
            (voltar) = "toggleSidenav($event)"
            (onLoading) = "carregando = $event"
            (filtroAplicado) = "filtroAplicado($event)">
        </contraste-form>

        <brilho-form *ngIf = "sidenavs.get('brilho')"
            [imagem] = "imagem"
            (voltar) = "toggleSidenav($event)"
            (onLoading) = "carregando = $event"
            (filtroAplicado) = "filtroAplicado($event)">
        </brilho-form>

        <ajuste-rgb-form *ngIf = "sidenavs.get('ajusteRGB')"
            [imagem] = "imagem"
            (voltar) = "toggleSidenav($event)"
            (onLoading) = "carregando = $event"
            (filtroAplicado) = "filtroAplicado($event)">
        </ajuste-rgb-form>

        <nitidez-form *ngIf = "sidenavs.get('nitidez')"
            [imagem] = "imagem"
            (voltar) = "toggleSidenav($event)"
            (onLoading) = "carregando = $event"
            (filtroAplicado) = "filtroAplicado($event)">
        </nitidez-form>

        <mediana-form *ngIf = "sidenavs.get('mediana')"
            [imagem] = "imagem"
            (voltar) = "toggleSidenav($event)"
            (onLoading) = "carregando = $event"
            (filtroAplicado) = "filtroAplicado($event)">
        </mediana-form>

        <blur-form *ngIf = "sidenavs.get('blur')"
            [imagem] = "imagem"
            (voltar) = "toggleSidenav($event)"
            (onLoading) = "carregando = $event"
            (filtroAplicado) = "filtroAplicado($event)">
        </blur-form>

        <equalizar-histograma-form *ngIf = "sidenavs.get('eqHist')"
            [imagem] = "imagem"
            (voltar) = "toggleSidenav($event)"
            (onLoading) = "carregando = $event"
            (filtroAplicado) = "filtroAplicado($event)">
        </equalizar-histograma-form>

        <equalizar-canal-form *ngIf = "sidenavs.get('eqCanal')"
            [imagem] = "imagem"
            (voltar) = "toggleSidenav($event)"
            (onLoading) = "carregando = $event"
            (filtroAplicado) = "filtroAplicado($event)">
        </equalizar-canal-form>

        <redimensionar-form *ngIf = "sidenavs.get('resize')"
            [imagem] = "imagem"
            (voltar) = "toggleSidenav($event)"
            (onLoading) = "carregando = $event"
            (update) = "atualizarDimensoesImagem($event)"
            (restaurar) = "restaurarDimensoes($event)"
            (filtroAplicado) = "filtroAplicado($event)">
        </redimensionar-form>

        <espelho-horizontal-form *ngIf = "sidenavs.get('espelhoH')"
            [imagem] = "imagem"
            (voltar) = "toggleSidenav($event)"
            (onLoading) = "carregando = $event"
            (filtroAplicado) = "filtroAplicado($event)">
        </espelho-horizontal-form>

        <espelho-vertical-form *ngIf = "sidenavs.get('espelhoV')"
            [imagem] = "imagem"
            (voltar) = "toggleSidenav($event)"
            (onLoading) = "carregando = $event"
            (filtroAplicado) = "filtroAplicado($event)">
        </espelho-vertical-form>

        <rotacao-horaria-form *ngIf = "sidenavs.get('girarH')"
            [imagem] = "imagem"
            (voltar) = "toggleSidenav($event)"
            (onLoading) = "carregando = $event"
            (filtroAplicado) = "filtroAplicado($event)">
        </rotacao-horaria-form>

        <rotacao-anti-horaria-form *ngIf = "sidenavs.get('girarAH')"
            [imagem] = "imagem"
            (voltar) = "toggleSidenav($event)"
            (onLoading) = "carregando = $event"
            (filtroAplicado) = "filtroAplicado($event)">
        </rotacao-anti-horaria-form>

        <cortar-form *ngIf = "sidenavs.get('crop')"
            [imagem] = "imagem"
            (show) = "showCropper = $event"
            (update) = "updateCropper($event)"
            [cropper] = "imageCropper"
            (voltar) = "toggleSidenav($event)"
            (onLoading) = "carregando = $event"
            (filtroAplicado) = "filtroAplicado($event)">
        </cortar-form>

        <prewitt-form *ngIf = "sidenavs.get('prewitt')"
            [imagem] = "imagem"
            (voltar) = "toggleSidenav($event)"
            (onLoading) = "carregando = $event"
            (filtroAplicado) = "filtroAplicado($event)">
        </prewitt-form>

        <roberts-cross-form *ngIf = "sidenavs.get('roberts')"
            [imagem] = "imagem"
            (voltar) = "toggleSidenav($event)"
            (onLoading) = "carregando = $event"
            (filtroAplicado) = "filtroAplicado($event)">
        </roberts-cross-form>

        <sobel-form *ngIf = "sidenavs.get('sobel')"
            [imagem] = "imagem"
            (voltar) = "toggleSidenav($event)"
            (onLoading) = "carregando = $event"
            (filtroAplicado) = "filtroAplicado($event)">
        </sobel-form>

    </div>

    <div fxFlex fxLayout="column">
        <div fxFlex = 96% fxLayout="row" fxLayoutAlign="center center" class="image-container" #imgContainer id = "img-container">
            <div class="img-wrapper" [style.width.px] = "imagem?.largura * escala" [style.height.px] = "imagem?.altura * escala" >
                
                <image-cropper id = "CropperDiv" #imageCropper *ngIf = "showCropper"
                    class = "cropper"
                    imageBase64 = "data:image/{{imagem.tipo}};base64,{{imagem.conteudoBase64}}"
                    [aspectRatio]="imagem?.largura / imagem?.altura"
                    [cropperMinWidth]="1"
                    [onlyScaleDown]="true"
                    [autoCrop] = false
                    format="imagem.tipo"
                    outputType="base64"
                    (imageCropped)="imageCropped($event)"
                    (cropperReady) = "imageLoaded()"
                    [style.max-height.px] = "imagem?.altura * escala"
                    style="z-index: 10;">
                </image-cropper>
            
                <img id = "image" cdkDragBoundary=".img-wrapper" class="image" fxFlex
                    *ngIf = "imagem != undefined && !showCropper && !draw" 
                    src="data:image/{{imagem.tipo}};base64,{{imagem.conteudoBase64}}"
                    [style.width.px] = "imagem.largura * escala"
                    [style.height.px] = "imagem.altura * escala">  

                <canvas-whiteboard #canvasWhiteboard *ngIf="draw"
                    imageUrl = "data:image/{{imagem.tipo}};base64,{{imagem.conteudoBase64}}"
                    (onBatchUpdate)="onCanvasDraw($event)"
                    (onClear)="onCanvasClear()"
                    (onUndo)="onCanvasUndo($event)"
                    (onRedo)="onCanvasRedo($event)">
                </canvas-whiteboard>
            </div>
            <div *ngIf = "carregando" class="lds-grid">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>

        <div class="acoes-container" fxFlex>
            <div class="outer">
                <div class="inner" fxFlex fxLayout="row">
            <label style="margin-right: 100px;margin-left: 10px;cursor: pointer;margin-top: 16px;" 
                   matTooltip="Salvar (Ctrl + Shift + S)" 
                   class="action-bt"
                   (click) = "salvarImagem()">
                <i class="zmdi zmdi-download zmdi-hc-lg"></i>
                SALVAR
            </label>

            <label style="margin-right: 20px;cursor: pointer;margin-top: 11px;height: 24px;" 
                   matTooltip="Tamanho original (Ctrl + 0)" 
                   class="action-bt"
                   (click) = "mostrarTamanhoOriginal()">
                <i class="material-icons">center_focus_strong</i>
            </label>
        
            <label style="margin-right: 20px;cursor: pointer;margin-top: 11px;height: 24px;" 
                   matTooltip="Ajustar para tela (space)" 
                   class="action-bt"
                   (click) = "ajustarTela()">
                <i class="material-icons">aspect_ratio</i>
            </label>
        
            <label mat-mini-fab
                   style="margin-left: 20px; margin-right: 15px; cursor: pointer;" 
                   matTooltip="Zoom out (-)"
                   (click) = "diminuirEscala()"
                   class="action-bt">
                <i class="zmdi zmdi-minus-circle zmdi-hc-lg"></i>
            </label>
        
            <mat-slider
                class = "escala-slider"
                [disabled]="false"
                [invert]="false"
                [max]="4"
                [min]="0.10"
                [step]="0.01"
                [thumbLabel]="false"
                [value]="escala"
                [vertical]="false"
                (input) = "escalaMudou($event)">
            </mat-slider>
        
            <label  
                   style="cursor: pointer; margin-left: 15px;"
                   matTooltip="Zoom in (+)"
                   (click) = "aumentarEscala()"
                   class="action-bt">
                <i class="zmdi zmdi-plus-circle zmdi-hc-lg"></i>
            </label>
        
            <label style="padding-left: 10px;padding-right: 50px;max-width: 100px;margin-top: 13px;">
                   {{escala * 100 | number:'1.0-0'}}%
            </label>

            <label [ngClass] = "{'desativado' : pilhaIndice === 0, 'ativado' : pilhaIndice !== 0}"
                   style="right: 0px; margin-left: 20px;margin-right: 10px;"
                   matTooltip="Desfazer tudo (Ctrl + Shift + Z)" 
                   (click) = "desfazerTudo()"
                   class="action-bt">
                <i class="zmdi zmdi-mail-reply-all"></i>
            </label>
        
            <label [ngClass] = "{'desativado' : pilhaIndice === 0, 'ativado' : pilhaIndice !== 0}"
                   style="right: 0px; margin-left: 20px;margin-right: 30px;"
                   matTooltip="Desfazer (Ctrl + Z)" 
                   (click) = "desfazer()"
                   class="action-bt">
                <i class="zmdi zmdi-undo zmdi-hc-lg"></i>
            </label>
            
            <label [ngClass] = "{'desativado' : pilhaIndice === pilha.length - 1, 'ativado' : pilhaIndice !== pilha.length -1}"
                   matTooltip="Refazer (Ctrl + Y)"
                   (click) = "refazer()"
                   class="action-bt">
                <i class="zmdi zmdi-redo zmdi-hc-lg"></i>
            </label>

            <label [ngClass] = "{'desativado' : pilha.length === 1, 'ativado' : pilha.length !== 1}"
                   style="right: 0px; margin-left: 60px;margin-right: 5px;margin-top: 5px;"
                   matTooltip="Histórico local"
                   (click) = "mostrarHistoricoLocal()"
                   class="action-bt">
                <i class="zmdi zmdi-time-restore zmdi-hc-2x"></i>
            </label>
        </div>
    </div>
    </div>
</div>
