/*------------------------------------------------------------------------------
  GERA3- Angular 5
------------------------------------------------------------------------------*/
//== mixins
@import '../node_modules/compass-mixins/lib/animate';
//== Vendor
@import '../node_modules/mdi/css/materialdesignicons.css';
@import '../node_modules/multi-brand-colors/dist/scss/index.scss';
@import '../node_modules/material-design-iconic-font/dist/css/material-design-iconic-font.css';
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
//== App
@import "./app/shared/styles/app";

.mat-tab-group-dynamic-height .mat-tab-body-content{
  overflow:auto !important;
}

.status-success{
  background-color:rgba(0,255,0,0.1) !important;
}

.status-danger{
  background-color:rgba(255,0,0,0.1) !important;
}

.status-warning{
  background-color:rgba(255, 166, 0, 0.1) !important;
}

::-webkit-scrollbar {
  width: 0.5em;
  border-radius: 15px;
  background-color: slategray;
  background: none;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px slategray;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  background-color: #28303F;
}
::-webkit-scrollbar-corner{
  border-radius: 15px;
  background-color: slategray;
}

::-webkit-resizer{
  border-radius: 15px;
  background-color: slategray;
}

::-webkit-scrollbar-thumb {
background-color: #3c7fca;
outline: 1px solid slategrey;
-webkit-border-radius: 10px;
border-radius: 10px;
cursor: move !important;
}
::-webkit-scrollbar-button{
  cursor: move !important;
  background: none;
  background-color: #28303F;
}